@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
html,
body {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    overflow-y: auto !important;
  }
}
